main {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}



#main {
    text-align: center;
    background-color: palegreen;
    margin: 10px 00px;
    padding: 20px;
    border-radius: 20px;

}

nav{
    display: flex;
    justify-content: space-around;
    border: 1px dotted orange;
    padding: 20px;
}

#naga1, #naga3 {
    background-color: rgb(211, 252, 211);
    padding: 30px 10px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 70px;

}

#naga2, #naga4 {
    background-color: rgb(155, 155, 155);
    padding: 30px 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 70px;

}

#naga1:active, #naga2:active, #naga3:active, #naga4:active {
    background-color: orange;
}

a:visited {
    color: pink;
}